:root {
  --color-bg: rgb(148, 202, 223);
  --color-accent: rgb(38, 153, 199);
  --color-border: #1E1E1E;
  --color-text: rgba(30, 25, 43, 0.78);
  --color-white: #e7e7e7;
  --shadow: 1rem 1rem 3rem 0 rgba(0, 0, 0, 0.75);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background: var(--color-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 60vw;
  height: 60vh;
  background: rgba(217, 217, 217, 0.54);
  border: 0.1rem solid var(--color-border);
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
}

button {
  border: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 1.5rem;
}

::-webkit-scrollbar-track {
  background: var(--color-white);
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent);
}
